package ${sortsPackage};

import ${entityFullPackage}.${entity};
import com.yeungzhy.yeed.common.data.model.BaseEntity;
import com.yeungzhy.yeed.common.data.request.BaseSorts;
import org.springframework.stereotype.Component;

/**
 * $!{table.comment} 排序字段白名单
 *
 * @author ${author}
 * @since ${date}
 */
@Component
public class ${entity}Sorts extends BaseSorts<${entity}> {

    protected ${entity}Sorts() {
        super(${entity}.class, new BaseSorts.Builder<${entity}>()
                .add(BaseEntity.Fields.createTime, ${entity}::getCreateTime)
                // 多个字段排序时,要加上主键作为决胜字段,防止在其他字段相同的发生数据错乱或漏页
                .add(BaseEntity.Fields.id, ${entity}::getId)
        );
    }

}
