package ${dtoPackage};

import lombok.Data;
import lombok.experimental.Accessors;

#foreach($pkg in ${importEntityJavaPackages})
import ${pkg};
#end
import java.time.LocalDateTime;
import java.util.Map;

/**
 * $!{table.comment} DTO（前端入参）
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Accessors(chain = true)
public class ${entity}DTO {

    // ================== 主键 ==================
#foreach($field in ${table.commonFields})
#if(${field.propertyName} == "id")
#if("$!field.comment" != "")
    /** ${field.comment} */
#end
    private ${field.propertyType} ${field.propertyName};
#end
#end

    // ================== 业务字段 ==================
#foreach($field in ${table.fields})
#if("$!field.comment" != "")
    /** ${field.comment} */
#end
    private ${field.propertyType} ${field.propertyName};
#end

    // ================== 审计字段 ==================
## extra 为 BaseEntity 中的 Map<String,Object>（DB json 列），生成器默认推断为 String，此处显式覆盖以保证类型一致
#foreach($field in ${table.commonFields})
#if(${field.propertyName} != "id")
#set($type = ${field.propertyType})
#if(${field.propertyName} == "extra")
#set($type = "Map<String, Object>")
#end
#if("$!field.comment" != "")
    /** ${field.comment} */
#end
    private ${type} ${field.propertyName};
#end
#end

}
