package ${sortsPackage};

import ${entityFullPackage}.${entity};
import com.yeungzhy.yeed.common.data.model.BaseEntity;
import com.yeungzhy.yeed.common.data.request.BaseSorts;
import org.springframework.stereotype.Component;

/**
 * $!{table.comment} 排序字段白名单
 *
 * @author ${author}
 * @since ${date}
 */
@Component
public class ${entity}Sorts extends BaseSorts<${entity}> {

    protected ${entity}Sorts() {
        super(${entity}.class, new BaseSorts.Builder<${entity}>()
                .add(BaseEntity.Fields.createTime, ${entity}::getCreateTime)
                // 多字段排序必须带上主键作决胜字段，否则同值行跨页时可能重复或漏页
                .add(BaseEntity.Fields.id, ${entity}::getId)
        );
    }

}
